<!-- 
   <% layout("/layouts/biolerplate") %>
   <div class="row">

   </div>
    
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="enter title" type="text" class="form-control">
        </div>
        <br>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"></textarea>
        </div>
        <br>

        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" placeholder="enter image URL/link" type="text" class="form-control"> 
        </div>
        <br>

        <div class="mb-3"> 
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="enter price" type="number" class="form-control">
        </div>
        <br>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
             <input name="listing[country]" placeholder="enter country" type="text" class="form-control">
        </div>
        <br>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="enter location" type="text" class="form-control">
        </div>
        <br>

        <br /><br>
        <button class="btn btn-dark">Add</button>
    </form>
    

    </div>
 -->
<div class="row mt-3">
 <div class="col-8 offset-2">   


<h3>Create New Listing</h3>
<form method="POST" 
action="/listings"
 novalidate class="needs-validation">
    <div class="mb-3">
        <label for="title" 
        class="form-label">Title</label>
        <input id="title" 
        name="listing[title]"
         placeholder="enter title" 
         type="text" 
         class="form-control " requires />
  

      <div class="invalid-feedback">title looks good</div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="listing[description]" class="form-control" required></textarea>
         <div class="invalid-feedback">please enter a short description</div>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input id="image" name="listing[image][url]" placeholder="enter image URL/link" type="text" class="form-control" />
    </div>

    <div class="mb-3"> 
        <label for="price" class="form-label">Price</label>
        <input id="price" name="listing[price]" placeholder="enter price"  class="form-control" required/>
      <div class="invalid-feedback"> price should be valid</div>
    </div>

    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input id="country" name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
     <div class="invalid-feedback">country name should be valid</div>
    </div>

    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input id="location" name="listing[location]" placeholder="enter location" type="text" class="form-control" required />
       <div class="invalid-feedback">location name should be valid</div>
    </div>

    <button type="submit" class="btn btn-dark">Add</button>
</form>

</div>
</div>