   <% layout("/layouts/biolerplate") %>


   <div class="row mt-3">
    <h1 class="col-6 offset-3" >signUp on wanderlust</h1>
 <div class="col-6 offset-3">  
    <form action="/signup" method="POST" class="needs-validation" novalidate>
         <div class="mb-3">
        <label for="username" 
        class="form-label">username</label>
        <input id="username" 
        name="username"
         id="username"
         type="text" 
         class="form-control " requires />
  

      <div class="valid-feedback"> lookk good</div>
    </div>
          <div class="mb-3">
        <label for="email" 
        class="form-label">email</label>
        <input id="email" 
        name="email"
         id="email"
         type="email" 
         class="form-control "
          requires />
       

    </div>
     <div class="mb-3">
        <label for="password" 
        class="form-label">password</label>
        <input id="password" 
        name="password"
         id="password"
         type="password" 
         class="form-control "
          requires />
       
        

     
    </div>
    <button class="btn btn-success">signUp</button>
    </form>
    </div>
     </div>